:root {
  --primary-dark: hsl(240, 5%, 15%);
  --primary-dark-hover: hsl(240, 5%, 12%);
  --primary-dark-lighter: hsl(240, 5%, 20%);
  --primary-light: hsl(240, 5%, 90%);
  --primary-light-darker: hsl(240, 5%, 85%);
  --primary-light-darker-hover: hsl(240, 5%, 80%);

  --completed-todos: hsl(240, 5%, 50%);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Ubuntu, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
  height: 100vh;
  width: 100vw;

  background-color: var(--primary-light);
  
  display: grid;
  grid-template-columns: minmax(220px, 20vw) minmax(400px, 80vw);
  grid-template-rows: 110px 1fr;
}

.header {
  grid-row: 1 / 2;
  grid-column: 1 / 3;

  display: flex;
  align-items: center;

  background-color: var(--primary-dark);
  box-shadow: 0 4px 4px -4px gray;
}

.logo {
  font-size: 2.5rem;
  font-weight: 900;
  color: white;

  padding: 24px;

  display: flex;
  align-items: center;
  gap: 8px;
}

.nav {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background-color: var(--primary-dark-lighter);

  padding: 20px;
}

.projects-title-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  color: white;
  padding: 24px 0 0;
  margin-bottom: 16px;
}

h1.projects-title {
  font-size: 1.5rem;
  font-weight: 900;
}

.projects-title-container {
  cursor: pointer;
}

.default-projects,
.custom-projects-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.nav > * > button:hover {
  background-color: var(--primary-dark-hover);
}

.project-view {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  width: 100%;

  margin: 0 auto;
  padding: 20px 40px;
}

.project-view > h1#project-name,
.project-view > div#todo-list,
.project-view > div.add-todo-button-container,
.project-view > div#create-todo-container  {
  padding: 0 60px 0;
}

.project-view > div#todo-list {
  margin-bottom: 8px;
}

.project-view > h1#project-name {
  padding: 40px 70px 20px;
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-dark);
}

button {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  appearance: none;
  border: none;
}

button.default-projects-button,
button.custom-projects-button {
  text-align: left;
  background-color: var(--primary-dark);
  color: white;
  font-size: 1.2rem;
  font-weight: 700;

  display: flex;
  gap: 6px;
  align-items: center;
}

div.create-project-form {
  margin-bottom: 10px;
}

div.create-project-form > input[type="text"],
.create-todo-form > input[type="text"] {
  appearance: none;
  border: none;
  outline: none;
  background-color: white;
  color: var(--primary-dark);
  width: 100%;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: .8rem;
}

button#add-todo-button {
  box-sizing: border-box;
  background-color: var(--primary-light-darker);
}

button#add-todo-button > .button-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

button#add-todo-button > .button-left > div.todo-icon,
button.button-todo > .button-left > div.todo-icon,
button.button-todo > .button-right > div.todo-icon {
  height: 20px;
  width: 20px;
}

button#add-todo-button > .button-left > .todo-text  {
  font-size: 1rem;
  font-weight: 700;
}

button.button-todo > .button-left > .todo-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}

button#add-todo-button:hover {
  background-color: var(--primary-light-darker-hover);
}

*.hidden,
button#add-todo-button.hidden {
  display:none;
}

.project-button-group,
.todo-button-group {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.project-button-group > button {
  background-color: transparent;
  color: white;
  font-size: .8rem;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  appearance: none;
  border: 1px solid white;
}

.project-button-group > button:hover {
  background-color: var(--primary-dark);
}

button.custom-projects-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

button.custom-projects-button.active,
button.default-projects-button.active {
  background-color: var(--primary-dark-hover);
  font-weight: 900;
}

button.custom-projects-button > .project-button-left {
  gap: 6px;
  display: flex;
  align-items: center;
}

.project-button-left > svg {
  flex-shrink: 0;
}

button.default-projects-button > p,
button.custom-projects-button > .project-button-left {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1rem;
}

.button-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1rem;
}

.project-button-right,
.button-right > div.todo-icon {
  visibility: hidden;
  justify-self: flex-end;
  height: 20px;
  width: 20px;
}

.custom-projects-button:hover .project-button-right,
.button-todo:hover > .button-right > div.todo-icon {
  visibility: visible;
}

div.create-todo-form {
  width: 100%;
  flex-direction: column;
  gap: 8px;
}

.create-todo-form .todo-button-group {
  display: flex;
  justify-items: space-between;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

button.button-todo {
  color: var(--primary-dark);
  background-color: var(--primary-light-darker);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
button.button-todo.completed {
  color: var(--completed-todos);
}
button.button-todo.completed > .button-left > .todo-text {
  text-decoration: line-through;
  font-style: italic;
}

button.button-todo:hover {
  background-color: var(--primary-light-darker-hover);
}

button.button-todo,
button#add-todo-button {
  font-size: 1.2rem;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;

}

button.button-todo > *,
button#add-todo-button > * {
  margin: 0 10px;
}

button.button-todo > .button-left {
  justify-self: start;
  min-width: 0;
}
button.button-todo > .button-right {
  justify-self: end;
  flex-shrink: 0;
}

button.button-todo > .button-left,
button.button-todo > .button-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

button.create-todo-button,
button.cancel-todo-button {
  font-size: 0.8rem;
  font-weight: 700;
}

button.create-todo-button:hover,
button.cancel-todo-button:hover {
  background-color: var(--primary-light-darker-hover);
}

@media (max-width: 700px) {
  .nav {
    width: 100%;
    display: none;
  }

  .project-view {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  .project-view > * {
    grid-column: 1 / 2;
  }
}